@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './styles/mixin.module.scss';
@import './styles/const.module.scss';

body {
    background-color: #35654D;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}

.GameStarter {
    position: fixed;
    @include width-height($P100, $P100);
    margin: 0;
    padding: 0;

    h1 {font-size: 4rem}

    button {
        position: fixed;
        width: 300px;
        height: 150px;
        border-radius: 10px;
        border: none;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        cursor: pointer;
    }

    p > a {
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        bottom: 20px;
    }
}

.timer {
    position: fixed;
    @include top-left(10px, 10px);
}

.container {
    display: grid;
    position: relative;
    @include Grid-Displayer(repeat(3, 1fr), repeat(2, 1fr), 0px, 20px);
    @include top-left($P50, $P50);
    transform: translate(-$P50);

    @each $row in $grid-rows {
        @each $col in $grid-cols {
            $card: ".card#{$row}#{$col}";
            #{$card} {
                grid-area: #{$row} / #{$col} / #{($row + 1)} / #{($col + 1)};
            }
        }
    }

    .card {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: $P50;
        @include width-height(250px, 250px);
        transform: translate(-$P50);
        transition: transform .5s ease-in-out;
        cursor: pointer;
    
        &.flipped {
            transform: rotateY(-$ROTATION-180);
            transform: translate(-$P50);
        }
    
        &.back {
            position: absolute;
            @include top-left(0, 0);
            @include width-height($P100, $P100);
            transform: rotateY($ROTATION-180);
            backface-visibility: hidden;
        }
    
        .back img {@include width-height($P100, $P100)}
    
        .front, .back {
            position: absolute;
            @include top-left(0, 0);
            @include width-height($P100, $P100);
            backface-visibility: hidden;
            transition: transform .6s;
        }
    
        .front {transform: rotateY(0deg)}
        .back {transform: rotateY($ROTATION-180)}
        &.flipped .front {transform: rotateY(-$ROTATION-180)}
        &.flipped .back {transform: rotateY(0deg)}
        
        img {
            @include width-height($P100, $P100);
            object-fit: cover;
            border-radius: 5px;
        }

    }
    
}

@media (max-width: 750px) {
    .container {
        @include Grid-Displayer(repeat(2, 1fr), repeat(5, 1fr), 20px, 20px);

        @for $i from 1 through length($grid-rows) {
            $row: nth($grid-rows, $i);

            @for $j from 1 through length($grid-cols) {
                $col: nth($grid-cols, $j);
                $card: ".card#{$row}#{$col}";

                #{$card} {grid-area: #{$row} / #{$col} / #{($row + 1)} / #{($col + 1)}}
            }

        }
        
    }

}

.hide {display: none}